@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.page__body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    color: #000;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

._container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px ;
    /* border: 1px solid black; */
}

.header-top {
    background-color: #9affff;
}

.header-top-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    padding-left: 0;
}

.tel {
    position: relative;
    padding-left: 40px;
    margin-right: 45px;
}

.tel::before {
    content: " ";
    background: url("img/icons/phone.png") no-repeat center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: 10px;
}

.header-top__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.header-top__socials span {
    display: none;
}

.header-top__socials-item1:before {
    content: url('img/icons/facebook.png');
}

.header-top__socials-item2:before {
    content: url('img/icons/twitter.png');
}

.header-top__socials-item3:before {
    content: url('img/icons/gplus.png');
}

.header-top__socials-item4:before {
    content: url('img/icons/instagramm.png');
}

@media all and (max-width: 500px) {
    .header-top-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 10px 25px 10px 25px;
    }

    .tel {
        margin-bottom: 25px;
    }
}

@media all and (max-width: 300px) {
    .header-top__socials {
        display: none;
    }

    .tel {
        margin: 0;
    }
}

.header-bottom__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 55px 0 25px;

}

.nav {
    padding: 15px 0px 0px 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav__item {
    margin-right: 10px;
    margin-bottom: 20px;
}

.nav__item a {
    padding: 10px;
}

.header-bottom__burger-menu {
    display: none;
}

.header-bottom__burger-menu span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #40d47e;
    transition: all .7s ease-in-out;
}

.header-bottom__burger-menu span:before,
.header-bottom__burger-menu span:after {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #40d47e;
    content: "";
    transition: all .3s ease-in-out;
}

.header-bottom__burger-menu span:before {
    transform: translate(0, -12px);
}

.header-bottom__burger-menu span:after {
    transform: translate(0, 8px);
}

.header-bottom__burger-menu_open span {
    transform: rotate(180deg);
}

.header-bottom__burger-menu_open span:before,
.header-bottom__burger-menu_open span:after {
    width: 60%;
}

.header-bottom__burger-menu_open span:before {
    transform: translate(24px, -10px) rotate(45deg);
}

.header-bottom__burger-menu_open span:after {
    transform: translate(24px, 5px) rotate(-45deg);
}



@media all and (max-width: 750px) {
    .nav__list {
        display: none;
    }

    .header-bottom__burger-menu {
        display: block;
    }
}

/* ________________MAIN_______________ */

.courses {
    background: linear-gradient(97deg, #000000 0%, rgba(0, 0, 0, 0) 61%), url('img/main.png') no-repeat;
    background-size: cover;
    min-height: 800px;
    background-position: center;
    padding: 100px 0 0 0;
}



.courses__wrapper{
    width: 35%;
}

.courses__wrapper h2 {
    color: #7df4de;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 50px;
}


.courses__text {
    color: #fff;
    font-size: 26px;
    line-height: 29px;
    font-weight: 100;
    margin-bottom: 45px;

}

@media (max-width: 800px) {
    .courses {
        padding-top: 15px;
    }
    .courses__wrapper{
        width: 98%;
    }
    .courses__wrapper h2{
    margin-bottom: 10px;
    }
    .courses__text{
    margin-bottom: 15px;
    }
}

@media (max-width: 465px) {
    .courses__wrapper h2 {
    font-size: 45px;
    }
}

@media (max-width: 385px) {
    .courses__wrapper h2{
    margin-bottom: 0;
    font-size: 35px;
    }
    .courses__text{
        margin: 10px 0;
    }
}

.button {
    color: #000;
    border-radius: 11px;
    font-size: 23px;
    font-weight: 500;
    padding: 0.1em 1em;
    line-height: 1.7em;
    background-image: linear-gradient(177deg, #7df4de 0%, #7df4de 100%);
    background-color: #7df4de;
}

.benefits {
    text-align: center;
}

.benefits__title {
    color: #e580c1;
    font-weight: 700;
    font-size: 40px;
    margin: 45px 0 45px 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 46px;
}

.benefits__text {
    color: #0d2d54;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: .1em;
    line-height: 39px;
}

.benefits__container {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -34px; */
}

.benefits__wrapper {
    flex: 1 1 30.3333%;
    margin: 0px 12px 14px 12px;
    min-width: 300px;
    box-shadow: 6px 6px 18px 0px rgb(0 0 0 / 30%);
}



.benefits__image {
    max-width: 100%;
    height: auto;
}



.about {
    background: url('img/about_background.png') no-repeat center, linear-gradient(180deg, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0) 66%);
    background-position: 50%;
    background-size: cover;
    filter: saturate(1.08) brightness(1.13);

}

.about__info {
    color: #0d2d54;
    max-width: 40%;
    padding: 350px 0 0 0;
    text-align: center;
}

.about__info h2 {
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    font-size: 38px;
    margin-bottom: 25px;
}

.about__greetings,
.about__name,
.about__how-long {
    font-weight: 700;
    font-size: 23px;
    line-height: 25px;

}

.about__name,
.about__how-long {
    margin: 0;
}

.about__desc {
    font-weight: 300;
    font-size: 20px;
}

.about__more-info {
    max-width: 45%;
    text-align: center;
}

.about__insta-button img {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .about{
        background: none;
    }

    .about__info{
        padding: 70px 0 0 0;
        max-width: 100%;
    }
    .about__more-info{
        max-width: 100%;
    }
}

@media (max-width: 420px) {
    .about__info h2 {
        font-size: 30px;
    }
}

.learning__container {
    display: flex;
    flex-wrap: wrap;
}

.learning__header {
    margin: 45px 0 45px 0;
    text-align: center;
    text-transform: uppercase;
}

.learning-block {
    flex: 1 1 31.3333%;
    text-align: center;
    padding: 10px;
    margin: 12px;
    box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(158deg, #a3c9ee 21%, #8ee9fc 90%);
}

.learning-block p{
    margin-bottom: 0;
}

.advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 15px;
    margin: 35px;
}

.advantages__header {
    text-align: center;
    text-transform: uppercase;
    margin: 45px 0px 45px 0;
}

.advantages-item {
    min-width: 280px;
    box-shadow: 6px 6px 18px 0px rgb(0 0 0 / 30%);
    padding: 10px;
    flex: 1 1 29%;
}

.advantages-item h3,
.advantages-item p {
    text-align: center;
}

.advantages__image {
    text-align: center;
}

.advantages-item img {
    max-width: 100%;
    height: auto;
}

.feedbacks__title {
    text-align: center;
    margin: 0 0 40px 0;
}

.feedbacks__slider {
    margin: 0 auto 45px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbacks__buttons {
    display: flex;
}

.feedbacks__slides {
    width: 30%;
    overflow: hidden;
}

.feedback__slide {
    width: 100%;
    height: 100%;
}

.feedback__slide img {
    width: 100%;
    height: 650px;
    object-fit: scale-down;
}

@media (max-width: 1200px) {
    .feedback__slide img {
        height: 500px;
    }
}

@media (max-width: 950px) {
    .feedback__slide img {
        height: 450px;
    }
}

@media (max-width: 750px) {
    .feedback__slide img {
        height: 350px;
    }
}

@media (max-width: 750px) and (min-width: 320px) {
    .feedback__slide img {
        height: 400px;
        object-fit: contain;
    }
    .feedbacks__slides {
        width: 65%;
    }
}



.contacts {
    background-color: black;
}

.contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
    justify-content: space-between;
}

legend {
    color: white;
    padding: 8px 0;
    margin: 0;
    text-align: center;
}

.contacts__column1 {
    flex: 0 1 48%;

}

.contacts__column2 {
    flex: 0 1 48%;
}

.contacts__map {
    min-width: 300px;
    min-height: 300px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
    padding: 5px 25px;
}

.contacts__form input {
    border: none;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.contacts__2-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 15px; */

}

.contacts__2-columns input {
    flex: 0 1 40%;
    margin-bottom: 15px;
}


.contacts__mail {
    margin-bottom: 15px;
}

textarea {
    height: 90px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 15px;
}

.contacts__form [type="submit"] {
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
    background-color: #7df4de;
}