@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.page__body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    color: #000;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

._container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px ;
    /* border: 1px solid black; */
}

.anchor {
    padding-top: 11300px;
    margin-top: -111500px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    }

header{
    position: fixed;
    left: 0;
    right: 0; 
    top: 0;  
    z-index: 999;
} 

.header-top {
    background-color: #7df4de;
}

.header-top-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    padding-left: 0;
    align-items: center;
}

.tel {
    position: relative;
    padding-left: 45px;
    margin-right: 43px;
    font-size: 20px;
}

.tel::before {
    content: " ";
    background: url("img/icons/phone.png") no-repeat center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -2px;
    left: 10px;
}

.header-top__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
}

.header-top__socials span, .footer__socials span {
    display: none;
}

.header-top__socials-item1:before {
    content: url('img/icons/facebook.svg');
}

.header-top__socials-item2:before {
    content: url('img/icons/vk.svg');
}

.header-top__socials-item3:before {
    content: url('img/icons/gplus.svg');
}

.header-top__socials-item4:before {
    content: url('img/icons/instagram.svg');
}

@media all and (max-width: 500px) {
    .header-top-wrapper {
        flex-direction: column;
        padding: 5px 25px 0 25px;
    }

    .tel {
        margin-bottom: 5px;
    }
}

@media all and (max-width: 300px) {
    .header-top__socials {
        display: none;
    }

    .tel {
        margin: 0;
    }
}

.header-bottom__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0 55px 0 25px;
}

.nav {
    padding: 15px 0px 0px 0;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.nav__item {
    margin-right: 10px;
    margin-bottom: 20px;
}

.nav__item a {
    padding: 10px;
}

.nav__item a:hover, .nav__item a:focus{
    color: #eb6f4a;
}

.header-bottom{
    background-color: #fff;
    box-shadow: 0 1px 5px -1px;
}

.header-bottom__burger-menu {
    display: none;
}

.header-bottom__burger-menu span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #000;
    transition: all .4s ease-in-out;
}

.header-bottom__burger-menu span:before,
.header-bottom__burger-menu span:after {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
    content: "";
    transition: all .3s ease-in-out;
}

.header-bottom__burger-menu span:before {
    transform: translate(0, -12px);
}

.header-bottom__burger-menu span:after {
    transform: translate(0, 8px);
}

.header-bottom__burger-menu_open span {
    transform: rotate(180deg);
}

.header-bottom__burger-menu_open span:before,
.header-bottom__burger-menu_open span:after {
    width: 60%;
}

.header-bottom__burger-menu_open span:before {
    transform: translate(24px, -10px) rotate(45deg);
}

.header-bottom__burger-menu_open span:after {
    transform: translate(24px, 5px) rotate(-45deg);
}

#checkbox {
    display: none;
}

@media (max-width: 750px) {
    .nav{
        position: absolute;
        top: 124px;
        left:0;
        width: 100%;
    }
    .nav__list {
        max-height: 0px;
        overflow: hidden;
        transition: all 0.5s;
        display: block;
    }
    .nav__item:last-child{
        margin-bottom: 0;
    }
    .header-bottom__burger-menu {
        display: block;
    }

    #checkbox:checked ~ .nav__list {
        max-height: 280px;
        padding: 15px 0;
        transition: all 0.5s;
        box-shadow: 0 1px 5px -1px;
    }
}

@media (max-width: 500px){
    .nav{
        top:108px;
    }
}

#checkbox:checked ~ .nav__list {
    background-color: #fff;
    opacity: .9;
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s;
}


/* ________________MAIN_______________ */

main{
    margin-top: 135px;
}

.courses {
    background: linear-gradient(97deg, #000000 0%, rgba(0, 0, 0, 0) 61%), url('img/main.png') no-repeat;
    background-size: cover;
    min-height: 800px;
    background-position: center;
    padding: 100px 0 0 0;
}


.courses__wrapper{
    width: 35%;
}

.courses__wrapper h2 {
    color: #7df4de;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 50px;
}


.courses__text {
    color: #fff;
    font-size: 26px;
    line-height: 29px;
    font-weight: 100;
    margin-bottom: 45px;

}

@media (max-width: 800px) {
    .courses {
        padding-top: 15px;
    }
    .courses__wrapper{
        width: 98%;
    }
    .courses__wrapper h2{
    margin-bottom: 10px;
    }
    .courses__text{
    margin-bottom: 15px;
    }
}

@media (max-width: 465px) {
    .courses__wrapper h2 {
    font-size: 45px;
    }
}

@media (max-width: 385px) {
    .courses__wrapper h2{
    margin-bottom: 0;
    font-size: 35px;
    }
    .courses__text{
        margin: 10px 0;
    }
}

.button {
    display: inline-block;
    color: #000;
    border-radius: 11px;
    font-size: 23px;
    font-weight: 500;
    padding: 5px 20px;
    line-height: 1.7em;
    background-image: linear-gradient(177deg, #7df4de 0%, #7df4de 100%);
    background-color: #7df4de;
    animation-name: button-scaling;
    animation-iteration-count: infinite;
    animation-duration: 1.6s;
    animation-timing-function: linear;
}

    @keyframes button-scaling {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }


.benefits {
    text-align: center;
    margin-bottom: 45px;
}

.benefits:target{
    padding-top: 150px;
}

.benefits__title {
    color: #e580c1;
    font-weight: 700;
    font-size: 40px;
    margin: 45px 0 45px 0;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 46px;
}

.benefits__text {
    color: #0d2d54;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: .1em;
    line-height: 39px;
}

.benefits__container {
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -34px; */
}

.benefits__wrapper {
    flex: 1 1 30.3333%;
    margin: 0px 12px 14px 12px;
    min-width: 300px;
    box-shadow: 6px 6px 18px 0px rgb(0 0 0 / 30%);
}

.benefits__item{
    padding: 10px;
}

.benefits__image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 370px) {
    .benefits__wrapper {
    min-width: 250px;

    }
}

.about {
    background: url('img/about_background.png') no-repeat center, linear-gradient(180deg, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0) 66%);
    background-position: 50%;
    background-size: cover;
}

.about:target{
    padding-top: 0px;
}

.about__info {
    color: #0d2d54;
    max-width: 40%;
    padding: 350px 0 0 0;
    text-align: center;
}

.about__info h2 {
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    font-size: 38px;
    margin-bottom: 25px;
}

.about__greetings,
.about__name,
.about__how-long {
    font-weight: 700;
    font-size: 23px;
    line-height: 25px;

}

.about__name,
.about__how-long {
    margin: 0;
}

.about__desc {
    font-weight: 300;
    font-size: 20px;
}

.about__more-info {
    max-width: 45%;
    text-align: center;
}

.about__insta-button img {
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .about{
        background: none;
    }

    .about__info{
        padding: 70px 0 0 0;
        max-width: 100%;
    }
    .about__more-info{
        max-width: 100%;
    }
}

@media (max-width: 420px) {
    .about__info h2 {
        font-size: 30px;
    }
}

.learning__container {
    display: flex;
    flex-wrap: wrap;
}

.learning:target{
    padding-top: 100px;
}

.learning__header {
    margin: 45px 0 45px 0;
    text-align: center;
    text-transform: uppercase;
}

.learning-block {
    flex: 1 1 31.3333%;
    text-align: center;
    padding: 10px;
    margin: 12px;
    box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(158deg, #a3c9ee 21%, #8ee9fc 90%);
}

.learning-block p{
    margin-bottom: 0;
}

.advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 15px;
    margin: 35px;
}

.advantages:target{
    padding-top: 100px;
}

.advantages__header {
    text-align: center;
    text-transform: uppercase;
    margin: 45px 0px 45px 0;
}

.advantages-item {
    min-width: 250px;
    box-shadow: 6px 6px 18px 0px rgb(0 0 0 / 30%);
    padding: 10px;
    flex: 1 1 29%;
}

.advantages-item h3,
.advantages-item p {
    text-align: center;
}

.advantages__image {
    text-align: center;
}

.advantages-item img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 410px) {
    .advantages__wrapper {
        gap: 0;
        margin:0 0 35px 0;
    }
    .advantages-item {
        margin-bottom: 25px;
    }
}

/*------------------------------------------FEEDBACKS START--------------------------------------------*/


.feedbacks__title {
    text-align: center;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.feedbacks:target{
    padding-top: 70px;
}

.image-slider {
    overflow: hidden;
    margin: 0 10px;
}

.image-slider__image{
	text-align: center;
}

.image-slider__image img{
	max-width: 100%;
}


/* @media (max-width: 1200px) {
    .image-slider__image img {
        height: 500px;
    }
}

@media (max-width: 950px) {
    .image-slider__image img {
        height: 450px;
    }
}

@media (max-width: 750px) {
    .image-slider__image img {
        height: 350px;
    }
} */

/* @media (max-width: 750px) and (min-width: 320px) {
    .image-slider__image img {
        height: 400px;
        object-fit: contain;
    }
    .feedbacks__slides {
        width: 65%;
    }
} */

/*------------------------------------------FEEDBACKS END--------------------------------------------*/

.contacts {
    background-color: black;
}

.contacts:target{
    padding-top: 100px;
}

.contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
    justify-content: space-between;
}

legend {
    color: white;
    padding: 8px 0;
    margin: 0;
    text-align: center;
}

.contacts__column1 {
    flex: 0 1 48%;
}

.contacts__column2 {
    flex: 0 1 48%;
}

.contacts__map {
    min-width: 290px;
    min-height: 290px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
    padding: 5px 25px;
}

.contacts__form input {
    border: none;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

.contacts__2-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 15px; */

}

.contacts__2-columns input {
    flex: 0 1 40%;
    margin-bottom: 15px;
}

.contacts__mail {
    margin-bottom: 15px;
}

textarea {
    height: 90px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 15px;
}

.contacts__form [type="submit"] {
    display: inline-block;
    width: 25%;
    margin-bottom: 5px;
    background-color: #7df4de;
}

@media (max-width: 980px) {
    .contacts__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .contacts__column1 {
        flex: 1 1 78%;
        margin-bottom: 25px;
    }
    .contacts__form [type="submit"]{
        min-width: 50%;
    }
    .contacts__2-columns input {
        flex: 1 1 15%;
        
    }
    .contacts__column2{
        flex: 1 1 78%;
        min-width: 50%;
    }
}

@media (max-width: 400px) {
    .contacts__column2 div{
    }
}

@media (max-width: 345px) {
    .contacts__wrapper{
        padding: 0;
    }
}

footer{
    background-color: #000;
}

.footer__socials{
    display: flex;
    justify-content: center;
    padding: 15px;
}

.footer__socials > li{
    padding-right: 25px;
}